.button {
  background-color: $base_color;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 20px;
  transition: background-color $transition_a_third_of_a_second;

  &:hover {
    background-color: $base_color_hover;
  }

  &:disabled {
    background-color: rgba(135, 39, 215, 0.5);
  }

  &__hidden {
    visibility: hidden;
  }
}