.round-item {
  margin: 0 auto;
  max-width: 160px;
  width: 100%;

  @media (min-width: 768px) {
    max-width: 200px;
  }

  &__wrapper {
    display: inline-block;
    margin: 20px;
    position: relative;

    @media (min-width: 576px) {
      margin: 20px 4%;
      width: calc(50% - 8%);
    }

    @media (min-width: 768px) {
      top: 20px;
      margin: 0;
      width: 30%;
    }

    &:nth-of-type(even) {
      @media (min-width: 768px) {
        top: -20px;
      }
    }

    &:nth-of-type(odd) {
      .round-item__image,
      .round-item__description {
        transition: transform 0.4s 0.2s;
      }
    }
  }

  &__image {
    background-color: #fff;
    border-radius: 50%;
    color: $base_color;
    display: inline-block;
    height: 120px;
    width: 120px;

    @media (min-width: 576px) {
      width: 160px;
      height: 160px;
    }

    @media (min-width: 768px) {
      transform: translateY(100%);
      transition: transform 0.4s;
    }

    &--wrapper {
      border-bottom: 1px solid;
      display: inline-block;
      height: 100px;
      overflow: hidden;
      width: 100%;

      @media (min-width: 576px) {
        height: 140px;
      }
    }

    img {
      margin: 20px;
      max-width: 60px;
      position: relative;

      @media (min-width: 576px) {
        max-width: 80px;
        margin: 30px;
      }
    }
  }

  &__description {
    padding-top: 10px;

    @media (min-width: 768px) {
      padding-top: 20px;
      transform: translateY(-100%);
      transition: transform 0.4s;
    }

    &--wrapper {
      overflow: hidden;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__details {
    font-size: 14px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}