.products {
  margin: 0 auto;
  max-width: 480px;
  padding: 40px 0;
  position: relative;
  text-align: center;

  @media (min-width: 768px) {
    max-width: 100%;
  }

  &__title {
    @include title(#000);
  }

  &__tile {
    border: 1px solid $border_color;
    border-radius: 3px;
    height: 260px;
    margin: auto;
    max-width: 320px;
    overflow: hidden;
    position: relative;
    text-align: center;

    @media (min-width: 768px) {
      max-width: 100%;
      height: 400px;
    }

    &--plug {
      background: rgba(0, 0, 0, 0.8);
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: visibility 0s 0.2s, opacity $transition_a_third_of_a_second;
      visibility: hidden;
      width: 100%;

      button {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin: 0 auto;
        padding: 14px 40px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:hover {
      .products__tile--plug {
        opacity: 1;
        transition: opacity $transition_a_third_of_a_second;
        visibility: visible;
      }
    }
  }

  &__modal {
    height: 100%;
  }

  &__thumb {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include size(100%);

    &--wrapper {
      height: 100%;
      padding: 10px;
      width: 100%;
    }
  }

  &__details {
    margin-top: 20px;

    &--title {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 14px;
    }
  }

  .swiper-container {
    padding-bottom: 60px;

    .swiper-pagination-fraction {
      bottom: 0;
      color: $base_color;
      font-size: 22px;
      text-align: right;

      .swiper-pagination-current {
        font-size: 42px;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      background-position-x: 50%;
      background-size: 50%;
      border: 1px solid $base_color;
      margin-top: 20px;
      top: auto;
      @include size(40px);
    }

    .swiper-button-next {
      left: 50px;
      right: auto;
    }
  }
}

.swiper-container {
  .swiper-button-next,
  .swiper-button-prev {
    background-color: #fff;
    background-image: url("./images/elements/arrow.svg");
    background-position-x: 100%;
    background-size: 70%;
    height: 100%;
    left: 0;
    margin-top: 0;
    top: 0;
    transform: rotate(180deg);
  }

  .swiper-button-next {
    left: auto;
    right: 0;
    transform: rotate(0);
  }
}

.swiper-product {
  .swiper-slide {
    height: 260px;
    text-align: center;

    @media (min-width: 768px) {
      height: 400px;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.swiper-thumbs {
  margin: 20px 0;

  .swiper-container {
    height: 100px;
    padding: 0 40px;
  }

  .swiper-slide {
    cursor: pointer;
    height: 100%;
    opacity: 0.5;
    text-align: center;
    transition: opacify $transition_a_third_of_a_second;
    width: 50%;

    @media (min-width: 576px) {
      width: 33%;
    }

    @media (min-width: 768px) {
      width: 25%;
    }

    @media (min-width: 992px) {
      width: 20%;
    }

    &-active {
      opacity: 1;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.products__tile--wrapper {
  .swiper-slide {
    @media (min-width: 768px) {
      visibility: hidden;
      transition: opacity 0.5s, transform 0.5s;
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @for $i from 1 through 6 {
    .swiper-slide:nth-of-type(#{$i}) {
      transition: opacity 0.5s $i * 0.2s, transform 0.5s $i * 0.2s;
    }
  }

  &.active {
    .swiper-slide {
      @media (min-width: 768px) {
        visibility: visible;
        transform: none;
        opacity: 1;
      }
    }
  }
}
