.reviews {
  padding: 60px 0;
  position: relative;
  text-align: center;

  &__description {
    font-size: 14px;
    font-style: italic;
    padding: 0 20px;

    @media (min-width: 576px) {
      padding: 0 40px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: 768px) {
      padding: 0 70px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__person {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__date {
    margin-top: 20px;
  }

  &__slider {
    margin: 0 auto;
    max-width: 768px;
    position: relative;
  }

  &__single {
    padding: 20px 0;

    &:before {
      @include quote;
      left: 0;
      top: 0;
    }

    &:after {
      @include quote;
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }

  .button {
    font-size: 16px;
    margin-bottom: 40px;
    padding: 12px 60px;
  }
}
