.navigation {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  &__href {
    display: block;
    margin-bottom: 40px;
    position: relative;

    &:last-child {
      margin: 0;
    }
  }

  &__section-name,
  &__dot {
    display: none;
  }

  @media (min-width: 1200px) {
    &__dot {
      display: block;
      background: #eee1fa;
      border-radius: 50%;
      position: relative;
      z-index: 1;
      transform: scale(0.7);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      @include size(16px);

      &--border {
        content: '';
        display: block;
        border: 1px solid #8727d7;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.2s ease;
        @include size(16px);
        @include position(absolute, -12px -12px auto auto);
      }
    }

    &__section-name {
      display: none;
      color: #fff;
      min-width: 60px;
      text-align: right;
      @include position(absolute, -3px 40px auto auto);

    }
  }
}

@media (min-width: 1200px) {
  .navigation__href {
    &--active,
    &:hover {
      .navigation {
        &__dot--border {
          transform: scale(1);
        }

        &__dot {
          box-shadow: 0 0 20px 3px #8727d7;
          transform: scale(1);
        }

        &__section-name {
          display: block;
        }
      }
    }
  }
}