.contact {
  padding-top: 50px;
  position: relative;
  text-align: center;

  &__details {
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
    text-align: left;

    &--left {
      @media (min-width: 768px) {
        transition: transform $transition_half_a_second;
        transform: translateX(-100%);
      }
    }

    &--right {
      @media (min-width: 768px) {
        transition: transform $transition_half_a_second;
        transform: translateX(100%);
      }
    }

    &--active {
      .contact__details--left,
      .contact__details--right {
        @media (min-width: 768px) {
          transform: none;
        }
      }
    }
  }

  &__title {
    @include title(#000)
  }

  &__subtitle {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
    text-align: left;
  }

  &__information {
    a {
      color: $base_color_hover;
      display: inline-block;
    }
  }

  &__address {
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__email {
    margin-bottom: 30px;

    a {
      color: $base_color_hover;
    }
  }

  &__form {
    button {
      margin-bottom: 20px;
    }
  }

  &__map {
    position: relative;

    &:before {
      @include triangle(transparent #fff transparent transparent, 0 100vw 4vh 0, 0, 0, auto, auto);
    }
  }

  h4 {
    margin: 20px 0;
  }

  .recaptcha {
    margin: 0 15px 10px 0;
    transform: scale(0.95);
    transform-origin: top right;
  }
}
