.button {
  background-color: #8727d7;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 20px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #7522ba;
  }

  &:disabled {
    background-color: rgba(64, 181, 114, 0.5);
  }
}