@import "../../node_modules/normalize.css/normalize";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
  height: 100%;
  width: 100%;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

@mixin triangle($border-color, $border-width, $top, $right, $bottom, $left) {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $border-width;
  border-color: $border-color;
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: 1;
}

@mixin quote {
  content: '';
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  background: url("./images/quote.svg");
  background-size: contain;
  opacity: 0.2;
}


.form {
  .form-control {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
  }

  textarea {
    height: 160px;
    resize: none;
  }
}

@import "../components/index";
@import "buttons";
