@import "../../node_modules/normalize.css/normalize";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
  height: 100%;
  width: 100%;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

section{
  position: relative;
}

@mixin triangle($border-color, $border-width, $top, $right, $bottom, $left) {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $border-width;
  border-color: $border-color;
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: 1;
}

@import "../components/index";
@import "buttons";