@import "../../node_modules/normalize.css/normalize";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
  height: 100%;
  width: 100%;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

section{
  padding: 40px 0;
}

@import "../components/index";
@import "buttons";