.home {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff;

  &:after {
    @include triangle(transparent #fff transparent transparent, 4vh 100vw 0 0, auto, auto, 0, 0);
  }

  &__logo {
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;

    img {
      width: 120px;

      @media (min-width: 576px) {
        width: 200px;
      }
    }
  }

  &__name {
    margin-top: 20px;
    font-size: 30px;
    line-height: 38px;

    @media (min-width: 576px) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__title {
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;

    @media (min-width: 576px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

@import "Video/video";
