.contact {
  position: relative;

  &__details {
    padding: 50px 0;
  }

  &__title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
    text-align: left;
  }

  &__information {
    a {
      color: #7522ba;
      display: inline-block;
    }
  }

  &__address {
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__email {
    margin-bottom: 10px;

    a {
      color: #7522ba;
    }
  }

  &__form {
    button {
      margin-bottom: 20px;
    }
  }

  &__map {
    position: relative;

    &:before {
      @include triangle(transparent #fff transparent transparent, 0 100vw 4vh 0, 0, 0, auto, auto);
    }
  }

  h4 {
    margin: 20px 0;
  }
}
