.contact {
  &__details {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
    text-align: left;
  }

  &__information {
    a {
      color: #7522ba;
      display: inline-block;
    }
  }

  &__address {
    margin-bottom: 10px;
  }

  &__phone {
    margin-bottom: 10px;
  }

  &__email {
    margin-bottom: 10px;

    a {
      color: #7522ba;
    }
  }

  &__form {
    .form-control {
      border: 1px solid #e7e7e7;
      border-radius: 3px;
      box-shadow: none;
      font-size: 12px;
    }

    textarea {
      height: 160px;
      resize: none;
    }
  }

  .container {
    margin-bottom: 40px;
  }

  h4 {
    margin: 20px 0;
  }
}
