.navbar {
  padding: 13px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;

  &-default {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fff;

    .navbar-brand {
      color: #fff;
    }

    .navbar-nav > li > a {
      color: #fff;
    }
  }
}
