.navbar {
  @media (min-width: 768px) {
    padding: 4px 15px;
  }

  &-default {
    background: transparent;
    border: none;

    .navbar-brand {
      color: #fff;
      height: 100%;
    }

    .navbar-nav > li {

      &:nth-child(-n+5) {
        @media (min-width: 768px) {
          display: none;
        }
      }

      & > a {
        color: #fff;
      }
    }
  }
}

.header {
  &__logo {
    font-family: 'Comfortaa', cursive;

    img {
      width: 100%;
      max-width: 56px;
      display: inline-block;
    }

    div {
      display: inline-block;
      font-size: 18px;
      margin-left: 10px;
    }
  }
}