.navbar {
  padding: 14px 15px;

  &-default {
    background: transparent;

    .navbar-brand {
      color: #fff;
    }
    
    .navbar-nav > li > a {
      color: #fff;
    }
  }
}

.scrolled {
  padding: 6px 15px;
  background: #fff;
}

//#7522ba test color


