.home {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:after {
    @include triangle(transparent #fff transparent transparent, 4vh 100vw 0 0, auto, auto, 0, 0);
  }

  &__logo {
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 120px;

      @media (min-width: 576px) {
        width: 200px;
      }
    }
  }

  &__name {
    font-size: 30px;
    line-height: 38px;
    margin-top: 20px;

    @media (min-width: 576px) {
      font-size: 50px;
      line-height: 50px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;

    @media (min-width: 576px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__scroll-mouse {
    background: url("./images/mouse.svg") 50%;
    background-size: cover;
    margin: auto;
    @include size(40px);
    @include position(absolute, auto 0 60px 0);
  }
}

@import "Video/video";
