body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%; }

.container-fluid {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%; }

section {
  padding: 40px 0; }

.navbar {
  padding: 13px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1; }
  .navbar-default {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fff; }
    .navbar-default .navbar-brand {
      color: #fff; }
    .navbar-default .navbar-nav > li > a {
      color: #fff; }

.home {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  overflow: hidden;
  position: relative; }

video {
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  z-index: -1; }

.contact__details {
  margin: 0 auto;
  max-width: 1440px; }

.contact__title {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 10px;
  text-align: left; }

.contact__information a {
  color: #7522ba;
  display: inline-block; }

.contact__address {
  margin-bottom: 10px; }

.contact__phone {
  margin-bottom: 10px; }

.contact__email {
  margin-bottom: 10px; }
  .contact__email a {
    color: #7522ba; }

.contact__form .form-control {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: none;
  font-size: 12px; }

.contact__form textarea {
  height: 160px;
  resize: none; }

.contact .container {
  margin-bottom: 40px; }

.contact h4 {
  margin: 20px 0; }

.navigation {
  position: fixed;
  right: 50px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%); }
  .navigation__href {
    position: relative;
    display: block;
    margin-bottom: 40px; }
    .navigation__href:last-child {
      margin: 0; }
  .navigation__dot {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transform: scale(0.7);
    transition: transform 0.2s ease, box-shadow 0.2s ease; }
    .navigation__dot--border {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      border: 1px solid #7522ba;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.2s ease;
      top: -12px;
      right: -12px; }
  .navigation__section-name {
    position: absolute;
    right: 40px;
    min-width: 60px;
    text-align: right;
    top: -3px;
    display: none;
    color: #fff; }

.navigation__href--active .navigation__dot--border,
.navigation__href:hover .navigation__dot--border {
  transform: scale(1); }

.navigation__href--active .navigation__dot,
.navigation__href:hover .navigation__dot {
  transform: scale(1);
  box-shadow: 0 0 20px 3px #7522ba; }

.navigation__href--active .navigation__section-name,
.navigation__href:hover .navigation__section-name {
  display: block; }

.reviews__single {
  max-width: 768px;
  margin: 0 auto; }

.button {
  background-color: #8727d7;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
  padding: 8px 15px;
  transition: background-color 0.2s ease;
  font-size: 12px; }
  .button:hover {
    background-color: #7522ba; }
  .button:disabled {
    background-color: rgba(64, 181, 114, 0.5); }
