.sales {
  position: relative;
  text-align: center;
  color: #fff;

  &:before {
    @include triangle(transparent #fff transparent transparent, 0 100vw 6vh 0, -1px, auto, auto, 0);
  }

  &:after {
    @include triangle(transparent #fff transparent transparent, 6vh 100vw 0 0, auto, auto, -1px, 0);
  }

  &__content {
    padding: 100px 0;
    background: rgba(0, 0, 0, 0.6);
  }

  &__single {
    display: inline-block;
    //margin: 20px;

    &:nth-of-type(even) {
      @media (min-width: 768px) {
        top: 30%;
      }
    }

    &:nth-of-type(odd) {
      .sales__round {
        transition: transform 0.2s 0.2s;
      }
    }
  }

  &__round {
    display: inline-block;
    width: 160px;
    height: 160px;
    background-color: #fff;
    border-radius: 50%;
    color: #8727d7;
    transition: transform 0.2s;
    //transform: translateY(100%);

    &--wrapper {
      height: 140px;
      margin-bottom: 20px;
      overflow: hidden;
      border-bottom: 1px solid;
    }

    img {
      max-width: 80px;
      position: relative;
      margin: 30px;
    }
  }

  &__name {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__details {
    max-width: 200px;
    font-size: 18px;
  }
}
//
//.react-parallax-background-children {
//  width: 100%;
//  height: 100%;
//
//  img {
//    width: 100%;
//    height: 100%;
//  }
//}
